<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Play 1</key>
	<array>
		<array>
			<string>20x20</string>
			<string>20x200</string>
			<string>240x400</string>
			<string>240x100</string>
		</array>
		<array>
			<string>300x20</string>
			<string>290x200</string>
			<string>60x400</string>
			<string>30x200</string>
		</array>
	</array>
	<key>Play 2</key>
	<array>
		<array>
			<string>20x20</string>
			<string>20x100</string>
			<string>240x200</string>
			<string>240x100</string>
		</array>
		<array>
			<string>300x20</string>
			<string>300x400</string>
			<string>160x400</string>
		</array>
	</array>
	<key>Play 3</key>
	<array>
		<array>
			<string>20x20</string>
			<string>20x120</string>
			<string>60x180</string>
			<string>20x240</string>
			<string>300x240</string>
			<string>200x180</string>
			<string>250x100</string>
			<string>250x400</string>
			<string>200x350</string>
			<string>100x350</string>
		</array>
		<array>
			<string>300x20</string>
			<string>300x200</string>
			<string>60x400</string>
		</array>
	</array>
</dict>
</plist>
